@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800;900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: #0a0a0a; /* Обновленный глобальный фон */
  color: white;
  font-family: 'Poppins', sans-serif; /* Основной шрифт */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  width: 100%;
  min-height: 100vh;
}

/* Стили, которые были удалены из App.css, если они актуальны, могут быть здесь */
